header {
    background-image: url(./img/wall.png);

    h1 {
        font-family: "Edu TAS Beginner", cursive;
        font-weight: bold;
        color: black;
        font-size: 4rem;
    }
}

main {
    background-image: url(./img/cork.png);
    min-height: 1200px;
    font-family: "Sometype Mono", monospace;
    font-style: italic;

    .card-img {
        width: 100%;
    }

    .pin {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-25%, -25%);
    }
}