body {
    font-family: "Edu TAS Beginner", cursive;
}

header {
    background-image: url(./img/wall.png);

    h1 {
        font-weight: bold;
        color: black;
        font-size: 4rem;
    }
}

main {
    background-image: url(./img/cork.png);
    min-height: 1200px;

    .card-text {
        font-family: "Sometype Mono", monospace;
        opacity: 75%;
        font-weight: bold;
    }

    .card-img {
        width: 100%;
    }

    .pin {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-25%, -25%);
    }
}


#overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.539);
    position: fixed;
    z-index: 3;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    img {
        width: 25%;
    }
}



@media screen and (max-width: 767.98px) {

    header {
        h1 {
            font-size: 3rem;
        }
    }
}